@import "scss/_variables.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
  p {
    font-size: 1.125rem;
    font-weight: 500;
    color: $light-mode-text-color;
    &.dark {
      color: $dark-mode-text-color;
    }
  }
}
