@import "scss/";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  backdrop-filter: blur(20px);
  z-index: 99;
  @include tablet {
    padding: 0 1rem;
  }
}

.right-icons {
  display: flex;
  align-items: center;
  div + div {
    margin-left: 1rem;
  }
}

.profile {
  display: flex;
  align-items: center;
  font-size: 1rem;
  img {
    width: 2rem;
    border-radius: 999rem;
    margin-right: 0.5rem;
  }
  b {
    margin-right: 0.375rem;
  }
}
